.styled-list{
    list-style: disc;
}
.cat-head , .cat-head>a{
    font-size: 1em;
    color: #666;
    font-weight: 600;
    font-family: "Lucida Grande",Verdana,Geneva,Helvetica,Arial,sans-serif;
}
.b-links{
    color: #02598b;
    line-height: 1.5em;
}
.b-links:hover{
    color: #003266;
}
.gray11{
    font-size: 11px;
    font-weight: 400;
    color: #615132!important;
}
.vr{
    height: 12px !important;
    margin-top: 3px;
}
.edit-btn{
    color: #666;
    font-size: 16px!important;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    display: inline-block;
    color: #666;
    border: 1px solid #999;
    cursor: pointer;
    transition: background-color .2s;
    text-decoration: none;
}
.edit-btn:hover{
    color: #666;
    background-color: #e8e8e8;
}
.big-title{
    font-weight: 600;
    font-size: 1.875em;
}
.gray-bold{
    color: #666;
    font-weight: 600;
}
.black{
    color: #333;
}
.submit-btn{
    width: 72px !important;
    font-size: 12px;
}
.p{
    font-size: .875em;
    line-height: 1.5em;
}
.small{
    font-size: 0.8em !important;
}
.x-small{
    font-size: .6875em !important;
}
.trend-item{
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid #f2f0e7;
}
.book-cover{
    width: 175px;
}
.book-cover a img{
        border-radius: 4px;
        max-width: 100%;
        max-height: 300px;
        width: 175px;
        overflow-clip-margin: content-box;
        overflow: clip;
    }
.book-title >a{
    color: #333;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5em;
}